<div class="layout layout--col layout--top layout--stretch">
    <div class="columns">
        <div class="column">

            {% assign limit = 7 %}

            <span class="title title--large">{{ stopname }} BART</span>
            <div class="divider"></div>

            {% if visits and visits.size > 0 %}

                <table class="table table--base" data-table-limit="true">
                    <thead>
                    <tr>
                        <th><span class="title title--small">Destination</span></th>
                        <th><span class="title title--small">Line</span></th>
                        <th><span class="title title--small text--right">Departs</span></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% assign shown = 0 %}

                    {% for v in visits %}
                        {% assign D = v.MonitoredVehicleJourney %}

                        {% if D.LineRef %}
                            {% if dir == "" or D.DirectionRef == dir %}

                                {% assign t = D.MonitoredCall.ExpectedDepartureTime %}
                                {% if t == blank %}
                                    {% assign t = D.MonitoredCall.ExpectedArrivalTime %}
                                {% endif %}

                                <tr>
                                    <td>
                              <span class="label" data-clamp="1">
                                {{ D.MonitoredCall.DestinationDisplay }}
                              </span>
                                    </td>

                                    <td>
                              <span class="">
                                {{ D.LineRef }}
                              </span>
                                    </td>

                                    <td>
                              <span class="text--right">
                                {{ t | date: "%s" | plus: 0 | minus: 28800 | date: "%-I:%M %p" }}
                              </span>
                                    </td>
                                </tr>

                                {% assign shown = shown | plus: 1 %}
                                {% if shown >= limit %}{% break %}{% endif %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <span class="label">No upcoming trains</span>
            {% endif %}

        </div>
    </div>
</div>
